* {
    box-sizing: border-box;
}



.section {
    display: flex;
    flex-direction: column-reverse;
    margin: 50px;
}

.sectionreverse {
    margin: 50px;
}

.hub {
    display: flex;
    align-items: end;
}


.dolomitolite {
    background-color: pink;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 10px;
}

.argillite {
    background-color: rgb(27, 93, 47);
    width: 100px;
    height: 40px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 30px;
}

.dolomitolite-smalllayyered {
    background-color: rgb(221, 150, 237);
    width: 118px;
    height: 40px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 12px;
}

.dolomitolite-withcracks {
    background-color: rgba(243, 137, 31, 0.793);
    width: 120px;
    height: 40px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 10px;
}

.dolomitolite-silty {
    background-color: rgb(244, 130, 149);
    width: 125px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 5px;
}

.dolomitolite-wavy {
    background-color: rgb(186, 102, 116);
    width: 126px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 4px;
}

.dolomitolite-smallwavy {
    background-color: rgb(186, 163, 102);
    width: 122px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 8px;
}

.dolomitolite-hammocky {
    background-color: rgb(135, 172, 83);
    width: 120px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 10px;
}

.dolomitolite-bilds {
    background-color: rgb(94, 143, 26);
    width: 125px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 5px;
}

.breccia {
    background-color: red;
    width: 140px;
    height: 30px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: -10px;
}

.crossbedded {
    background-color: rgb(226, 174, 61);
    width: 126px;
    height: 30px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 4px;
}



.sandstones {
    background-color: rgb(163, 131, 62);
    width: 126px;
    height: 30px;
    border: 1px solid black;
    margin: -1px -1px 0 0;
    margin-right: 4px;
}

.close {

    width: 0px;
    height: 30px;
    border-left: 1px solid black;
    margin: -1px -1px 0 0;
}

.div {
    display: flex;
    align-items: flex-end;
}

span {
    width: 30px;
    font-size: 8px;
    margin-right: 5px;
    margin-top: -7px;
    margin-left: 5px;


}

.sample {
    margin-left: 20px;
    display: flex;
    align-items: end;

}

.sample div.square {
    width: 10px;
    min-height: 10px;
    background-color: black;
    margin-top: -5px;

}

div.image {
    background-color: green;
}



.sample span {
    width: 80px;

}


.legend {
    position: sticky;
    top: 0px;
    right: 0px;
    height: 400px;
}

.image-container {
    display: none;
    position: relative;
}

.show {
    display: flex;
    overflow: visible;

}

.sample div.hasPhoto {
    background-color: green;
    display: flex;
}

.sample div.red {
    background-color: red;
    display: flex;
}

.image14040XP12 {
    background-image: url("./assets/2201.5_140.40_x125XP.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image14040XP13 {
    background-image: url("./assets/2201.5_140.40_x125XP_1.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13970XP12 {
    background-image: url("./assets/2201.5_139.70_x2.5XP.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13970XP13 {
    background-image: url("./assets/2201.5_139.70_x5XP.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13921XP12 {
    background-image: url("./assets/2201.5_139.21_x2.5XP.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13921XP13 {
    background-image: url("./assets/2201.5_139.21_x2.5XP_1.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13854XP12 {
    background-image: url("./assets/2201-5-138-54XP-12.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13854XP14 {
    background-image: url("./assets/2201-5-138-54XP-14.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13860XP10 {
    background-image: url("./assets/2201-5-138-60XP-10.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13860XP11 {
    background-image: url("./assets/2201-5-138-60XP-11.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13870XP08 {
    background-image: url("./assets/2201-5-138-70XP-08.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13870XP09 {
    background-image: url("./assets/2201-5-138-70XP-09.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13880XP06 {
    background-image: url("./assets/2201-5-138-80XP-06.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13880XP07 {
    background-image: url("./assets/2201-5-138-80XP-07.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13824XP01 {
    background-image: url("assets/2201-5-138-24XP-01.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13824XP02 {
    background-image: url("assets/2201-5-138-24XP-02.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13824XP03 {
    background-image: url("assets/2201-5-138-24XP-03.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13829XP23 {
    background-image: url("assets/2201-5-138-29XP-23.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13829XP24 {
    background-image: url("assets/2201-5-138-29XP-24.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13829XP25 {
    background-image: url("assets/2201-5-138-29XP-25.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13838XP20 {
    background-image: url("assets/2201-5-138-38XP-20.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13838XP21 {
    background-image: url("assets/2201-5-138-38XP-21.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13838XP22 {
    background-image: url("assets/2201-5-138-38XP-22.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13844XP16 {
    background-image: url("./assets/2201-5-138-44XP-16.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13844XP17 {
    background-image: url("./assets/2201-5-138-44XP-17.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13844XP18 {
    background-image: url("./assets/2201-5-138-44XP-18.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13844XP19 {
    background-image: url("./assets/2201-5-138-44XP-19.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13747XP07 {
    background-image: url("./assets/2201-5-137-47XP-07.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13747XP08 {
    background-image: url("./assets/2201-5-137-47XP-08.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13747XP09 {
    background-image: url("./assets/2201-5-137-47XP-09.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13747XP10 {
    background-image: url("./assets/2201-5-137-47XP-10.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13760XP05 {
    background-image: url("./assets/2201-5-137-60XP-05.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13760XP06 {
    background-image: url("./assets/2201-5-137-60XP-06.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13677XP11 {
    background-image: url("./assets/2201-5-136-77XP-11.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13677XP12 {
    background-image: url("./assets/2201-5-136-77XP-12.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13677XP13 {
    background-image: url("./assets/2201-5-136-77XP-13.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13655XP14 {
    background-image: url("./assets/2201-5-136-55XP-14.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13655XP15 {
    background-image: url("./assets/2201-5-136-55XP-15.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13575XP16 {
    background-image: url("./assets/2201-5-135-75XP-16.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13575XP17 {
    background-image: url("./assets/2201-5-135-75XP-17.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13575XP18 {
    background-image: url("./assets/2201-5-135-75XP-18.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13454XP19 {
    background-image: url("./assets/2201-5-134-54XP-19.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13454XP20 {
    background-image: url("./assets/2201-5-134-54XP-20.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13454XP21 {
    background-image: url("./assets/2201-5-134-54XP-21.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13454XP22 {
    background-image: url("./assets/2201-5-134-54XP-22.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13380XP23 {
    background-image: url("./assets/2201-5-133-80XP-23.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13380XP24 {
    background-image: url("./assets/2201-5-133-80XP-24.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13359XP25 {
    background-image: url("./assets/2201-5-133-59XP-25.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13319XP27 {
    background-image: url("./assets/2201-5-133-19XP-27.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13319XP28 {
    background-image: url("./assets/2201-5-133-19XP-28.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13119XP05 {
    background-image: url("./assets/2201-5-131-19XP-05.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13119XP06 {
    background-image: url("./assets/2201-5-131-19XP-06.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13214XP01 {
    background-image: url("./assets/2201-5-132-14XP-01.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13214XP02 {
    background-image: url("./assets/2201-5-132-14XP-02.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13190XP03 {
    background-image: url("./assets/2201-5-131-90XP-03.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13190XP04 {
    background-image: url("./assets/2201-5-131-90XP-04.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13040XP07 {
    background-image: url("./assets/2201-5-130-40XP-07.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image13040XP08 {
    background-image: url("./assets/2201-5-130-40XP-08.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12983XP09 {
    background-image: url("./assets/2201-5-129-83XP-09.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12983XP10 {
    background-image: url("./assets/2201-5-129-83XP-10.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12959XP11 {
    background-image: url("./assets/2201-5-129-59XP-11.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12959XP12 {
    background-image: url("./assets/2201-5-129-59XP-12.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12959XP13 {
    background-image: url("./assets/2201-5-129-59XP-13.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12959XP14 {
    background-image: url("./assets/2201-5-129-59XP-14.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12340XP62 {
    background-image: url("./assets/2201-5-123-40XP-62.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12938XP15 {
    background-image: url("./assets/2201-5-129-38XP-15.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12938XP16 {
    background-image: url("./assets/2201-5-129-38XP-16.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12938XP17 {
    background-image: url("./assets/2201-5-129-38XP-17.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12938XP18 {
    background-image: url("./assets/2201-5-129-38XP-18.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12938XP19 {
    background-image: url("./assets/2201-5-129-38XP-19.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12929XP20 {
    background-image: url("./assets/2201-5-129-29XP-20.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12929XP21 {
    background-image: url("./assets/2201-5-129-29XP-21.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12865XP22 {
    background-image: url("./assets/2201-5-128-65XP-22.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12865XP23 {
    background-image: url("./assets/2201-5-128-65XP-23.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12850XP24 {
    background-image: url("./assets/2201-5-128-50XP-24.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12850XP25 {
    background-image: url("./assets/2201-5-128-50XP-25.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12786XP26 {
    background-image: url("./assets/2201-5-127-86XP-26.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12786XP27 {
    background-image: url("./assets/2201-5-127-86XP-27.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12750XP32 {
    background-image: url("./assets/2201-5-127-50XP-32.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12750XP33 {
    background-image: url("./assets/2201-5-127-50XP-33.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12750XP34 {
    background-image: url("./assets/2201-5-127-50XP-34.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12750XP35 {
    background-image: url("./assets/2201-5-127-50XP-35.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12700XP28 {
    background-image: url("./assets/2201-5-127-00XP-28.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12700XP29 {
    background-image: url("./assets/2201-5-127-00XP-29.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12700XP31 {
    background-image: url("./assets/2201-5-127-00XP-31.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12642XP36 {
    background-image: url("./assets/2201-5-126-42XP-36.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12642XP37 {
    background-image: url("./assets/2201-5-126-42XP-37.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12599XP38 {
    background-image: url("./assets/2201-5-125-99XP-38.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12599XP39 {
    background-image: url("./assets/2201-5-125-99XP-39.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12586XP40 {
    background-image: url("./assets/2201-5-125-86XP-40.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12586XP41 {
    background-image: url("./assets/2201-5-125-86XP-41.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12586XP42 {
    background-image: url("./assets/2201-5-125-86XP-42.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12523XP43 {
    background-image: url("./assets/2201-5-125-23XP-43.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12523XP44 {
    background-image: url("./assets/2201-5-125-23XP-44.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12433XP49 {
    background-image: url("./assets/2201-5-124-33XP-49.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12433XP50 {
    background-image: url("./assets/2201-5-124-33XP-50.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12433XP51 {
    background-image: url("./assets/2201-5-124-33XP-51.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12433XP51 {
    background-image: url("./assets/2201-5-124-33XP-51.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12433XP53 {
    background-image: url("./assets/2201-5-124-33XP-53.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12433XP54 {
    background-image: url("./assets/2201-5-124-33XP-54.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12340XP62 {
    background-image: url("./assets/2201-5-123-40XP-62.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12290XP72 {
    background-image: url("./assets/2201-5-122-90XP-72.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12290XP73 {
    background-image: url("./assets/2201-5-122-90XP-73.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12160XP68 {
    background-image: url("./assets/2201-5-121-60XP-68.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12160XP69 {
    background-image: url("./assets/2201-5-121-60XP-69.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12135XP70 {
    background-image: url("./assets/2201-5-121-35XP-70.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12135XP71 {
    background-image: url("./assets/2201-5-121-35XP-71.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12068XP74 {
    background-image: url("./assets/2201-5-120-68XP-74.jpg");
    width: 500px;
    height: 376px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image12068XP75 {
    background-image: url("./assets/2201-5-120-68XP-75.jpg");
    width: 500px;
    height: 376px;
    background-size: contain;
    background-repeat: no-repeat;
}


.image12025XP76 {
    background-image: url("./assets/2201-5-120-25XP-76.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12025XP78 {
    background-image: url("./assets/2201-5-120-25XP-78.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12015XP01 {
    background-image: url("./assets/2201-5-120-15XP-01.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12015XP02 {
    background-image: url("./assets/2201-5-120-15XP-02.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12015XP03 {
    background-image: url("./assets/2201-5-120-15XP-03.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12015XP04 {
    background-image: url("./assets/2201-5-120-15XP-04.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image12015XP05 {
    background-image: url("./assets/2201-5-120-15XP-05.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11941AXP13 {
    background-image: url("./assets/2201-5-119-41AXP-13.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11941AXP14 {
    background-image: url("./assets/2201-5-119-41AXP-14.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11941AXP15 {
    background-image: url("./assets/2201-5-119-41AXP-15.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11941AXP16 {
    background-image: url("./assets/2201-5-119-41AXP-16.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11941BXP10 {
    background-image: url("./assets/2201-5-119-41BXP-10.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11941BXP12 {
    background-image: url("./assets/2201-5-119-41BXP-12.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11900XP20 {
    background-image: url("./assets/2201-5-119-00XP-20.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11900XP21 {
    background-image: url("./assets/2201-5-119-00XP-21.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11920XP18 {
    background-image: url("./assets/2201-5-119-20XP-18.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11920XP17 {
    background-image: url("./assets/2201-5-119-20XP-17.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11845XP24 {
    background-image: url("./assets/2201-5-118-45XP-24.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11845XP25 {
    background-image: url("./assets/2201-5-118-45XP-25.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11845XP26 {
    background-image: url("./assets/2201-5-118-45XP-26.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11868XP22 {
    background-image: url("./assets/2201-5-118-68XP-22.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11868XP23 {
    background-image: url("./assets/2201-5-118-68XP-23.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AX-3 {
    background-image: url("./assets/2201-5-117-77AXP-34.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AX-3 {
    background-image: url("./assets/2201-5-117-77AXP-34.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AX-3 {
    background-image: url("./assets/2201-5-117-77AXP-35.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AX-3 {
    background-image: url("./assets/2201-5-117-77AXP-36.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AX-3 {
    background-image: url("./assets/2201-5-117-77AXP-37.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AX-3 {
    background-image: url("./assets/2201-5-117-77AXP-38.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AX-3 {
    background-image: url("./assets/2201-5-117-77AXP-39.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777BX-2 {
    background-image: url("./assets/2201-5-117-77BXP-29.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777BX-3 {
    background-image: url("./assets/2201-5-117-77BXP-30.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777BX-3 {
    background-image: url("./assets/2201-5-117-77BXP-31.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777BX-3 {
    background-image: url("./assets/2201-5-117-77BXP-33.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11805XP27 {
    background-image: url("./assets/2201-5-118-05XP-27.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11805XP28 {
    background-image: url("./assets/2201-5-118-05XP-28.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AXP34 {
    background-image: url("./assets/2201-5-117-77AXP-34.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AXP35 {
    background-image: url("./assets/2201-5-117-77AXP-35.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AXP36 {
    background-image: url("./assets/2201-5-117-77AXP-36.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AXP37 {
    background-image: url("./assets/2201-5-117-77AXP-37.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AXP38 {
    background-image: url("./assets/2201-5-117-77AXP-38.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777AXP39 {
    background-image: url("./assets/2201-5-117-77AXP-39.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777BXP29 {
    background-image: url("./assets/2201-5-117-77BXP-29.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777BXP30 {
    background-image: url("./assets/2201-5-117-77BXP-30.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777BXP31 {
    background-image: url("./assets/2201-5-117-77BXP-31.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11777BXP33 {
    background-image: url("./assets/2201-5-117-77BXP-33.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11717XP46 {
    background-image: url("./assets/2201-5-117-17XP-46.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11717XP47 {
    background-image: url("./assets/2201-5-117-17XP-47.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11717XP48 {
    background-image: url("./assets/2201-5-117-17XP-48.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11717XP49 {
    background-image: url("./assets/2201-5-117-17XP-49.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11717XP50 {
    background-image: url("./assets/2201-5-117-17XP-50.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11717XP51 {
    background-image: url("./assets/2201-5-117-17XP-51.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11725XP44 {
    background-image: url("./assets/2201-5-117-25XP-44.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11725XP45 {
    background-image: url("./assets/2201-5-117-25XP-45.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11669XP52 {
    background-image: url("./assets/2201-5-116-69XP-52.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11669XP53 {
    background-image: url("./assets/2201-5-116-69XP-53.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11669XP54 {
    background-image: url("./assets/2201-5-116-69XP-54.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11649XP67 {
    background-image: url("./assets/2201-5-116-49XP-67.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11649XP68 {
    background-image: url("./assets/2201-5-116-49XP-68.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11649XP69 {
    background-image: url("./assets/2201-5-116-49XP-69.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11649XP70 {
    background-image: url("./assets/2201-5-116-49XP-70.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11650XP61 {
    background-image: url("./assets/2201-5-116-50XP-61.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11650XP62 {
    background-image: url("./assets/2201-5-116-50XP-62.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11650XP63 {
    background-image: url("./assets/2201-5-116-50XP-63.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11650XP64 {
    background-image: url("./assets/2201-5-116-50XP-64.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11650XP66 {
    background-image: url("./assets/2201-5-116-50XP-66.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11655XP58 {
    background-image: url("./assets/2201-5-116-55XP-58.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11655XP60 {
    background-image: url("./assets/2201-5-116-55XP-60.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11660XP55 {
    background-image: url("./assets/2201-5-116-60XP-55.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11660XP56 {
    background-image: url("./assets/2201-5-116-60XP-56.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11660XP57 {
    background-image: url("./assets/2201-5-116-60XP-57.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11635XP71 {
    background-image: url("./assets/2201-5-116-35XP-71.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11635XP72 {
    background-image: url("./assets/2201-5-116-35XP-72.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11635XP73 {
    background-image: url("./assets/2201-5-116-35XP-73.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image11635XP74 {
    background-image: url("./assets/2201-5-116-35XP-74.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image9349XP14 {
    background-image: url("./assets/2201-4-93-49XP-14.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image9349XP15 {
    background-image: url("./assets/2201-4-93-49XP-15.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image9291XP17 {
    background-image: url("./assets/2201-4-92-91XP-17.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image9291XP18 {
    background-image: url("./assets/2201-4-92-91XP-18.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image9291XP19 {
    background-image: url("./assets/2201-4-92-91XP-19.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image9291XP20 {
    background-image: url("./assets/2201-4-92-91XP-20.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image9291XP22 {
    background-image: url("./assets/2201-4-92-91XP-22.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;

}

.image9349XP14 {
    background-image: url("./assets/2201-4-93-49XP-15.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9349XP15 {
    background-image: url("./assets/2201-4-93-49XP-15.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9291XP17 {
    background-image: url("./assets/2201-4-92-91XP-17.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9291XP18 {
    background-image: url("./assets/2201-4-92-91XP-18.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9291XP19 {
    background-image: url("./assets/2201-4-92-91XP-19.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9291XP20 {
    background-image: url("./assets/2201-4-92-91XP-20.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9291XP22 {
    background-image: url("./assets/2201-4-92-91XP-22.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9256XP25 {
    background-image: url("./assets/2201-4-92-56XP-25.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9256XP26 {
    background-image: url("./assets/2201-4-92-56XP-26.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9247XP01 {
    background-image: url("./assets/2201-4-92-47XP-01.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9247XP02 {
    background-image: url("./assets/2201-4-92-47XP-02.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9247XP04 {
    background-image: url("./assets/2201-4-92-47XP-04.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9247XP05 {
    background-image: url("./assets/2201-4-92-47XP-05.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9235XP06 {
    background-image: url("./assets/2201-4-92-35XP-06.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9235XP07 {
    background-image: url("./assets/2201-4-92-35XP-07.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9235XP08 {
    background-image: url("./assets/2201-4-92-35XP-08.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9235XP09 {
    background-image: url("./assets/2201-4-92-35XP-09.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9235XP10 {
    background-image: url("./assets/2201-4-92-35XP-10.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9225XP11 {
    background-image: url("./assets/2201-4-92-25XP-11.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9225XP12 {
    background-image: url("./assets/2201-4-92-25XP-12.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9225XP13 {
    background-image: url("./assets/2201-4-92-25XP-13.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9225XP14 {
    background-image: url("./assets/2201-4-92-25XP-14.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9206XP18 {
    background-image: url("./assets/2201-4-92-06XP-18.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9206XP19 {
    background-image: url("./assets/2201-4-92-06XP-19.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9206XP20 {
    background-image: url("./assets/2201-4-92-06XP-20.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9202XP21 {
    background-image: url("./assets/2201-4-92-02XP-21.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9202XP22 {
    background-image: url("./assets/2201-4-92-02XP-22.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9202XP23 {
    background-image: url("./assets/2201-4-92-02XP-23.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9202XP24 {
    background-image: url("./assets/2201-4-92-02XP-24.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9202XP25 {
    background-image: url("./assets/2201-4-92-02XP-25.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9202XP26 {
    background-image: url("./assets/2201-4-92-02XP-26.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9190XP27 {
    background-image: url("./assets/2201-4-91-90XP-27.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9190XP28 {
    background-image: url("./assets/2201-4-91-90XP-28.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9190XP29 {
    background-image: url("./assets/2201-4-91-90XP-29.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9190XP30 {
    background-image: url("./assets/2201-4-91-90XP-30.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9190XP31 {
    background-image: url("./assets/2201-4-91-90XP-31.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9190XP32 {
    background-image: url("./assets/2201-4-91-90XP-32.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169AXP39 {
    background-image: url("./assets/2201-4-91-69AXP-39.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169AXP40 {
    background-image: url("./assets/2201-4-91-69AXP-40.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169AXP41 {
    background-image: url("./assets/2201-4-91-69AXP-41.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169AXP42 {
    background-image: url("./assets/2201-4-91-69AXP-42.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169BXP33 {
    background-image: url("./assets/2201-4-91-69BXP-33.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169BXP34 {
    background-image: url("./assets/2201-4-91-69BXP-34.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169BXP35 {
    background-image: url("./assets/2201-4-91-69BXP-35.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169BXP36 {
    background-image: url("./assets/2201-4-91-69BXP-36.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169BXP37 {
    background-image: url("./assets/2201-4-91-69BXP-37.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9169BXP38 {
    background-image: url("./assets/2201-4-91-69BXP-38.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9142XP43 {
    background-image: url("./assets/2201-4-91-42XP-43.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9142XP44 {
    background-image: url("./assets/2201-4-91-42XP-44.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9142XP45 {
    background-image: url("./assets/2201-4-91-42XP-45.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9095XP46 {
    background-image: url("./assets/2201-4-90-95XP-46.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9095XP47 {
    background-image: url("./assets/2201-4-90-95XP-47.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9056XP48 {
    background-image: url("./assets/2201-4-90-56XP-48.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9056XP49 {
    background-image: url("./assets/2201-4-90-56XP-49.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9056XP50 {
    background-image: url("./assets/2201-4-90-56XP-50.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9015XP52 {
    background-image: url("./assets/2201-4-90-15XP-52.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image9015XP53 {
    background-image: url("./assets/2201-4-90-15XP-53.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8995XP54 {
    background-image: url("./assets/2201-4-89-95XP-54.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8995XP55 {
    background-image: url("./assets/2201-4-89-95XP-55.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8995XP56 {
    background-image: url("./assets/2201-4-89-95XP-56.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8995XP57 {
    background-image: url("./assets/2201-4-89-95XP-57.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8962XP58 {
    background-image: url("./assets/2201-4-89-62XP-58.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8962XP59 {
    background-image: url("./assets/2201-4-89-62XP-59.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8962XP60 {
    background-image: url("./assets/2201-4-89-62XP-60.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8962XP61 {
    background-image: url("./assets/2201-4-89-62XP-61.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8953AXP65 {
    background-image: url("./assets/2201-4-89-53AXP-65.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8953AXP66 {
    background-image: url("./assets/2201-4-89-53AXP-66.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8953AXP67 {
    background-image: url("./assets/2201-4-89-53AXP-67.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8953AXP68 {
    background-image: url("./assets/2201-4-89-53AXP-68.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8953BXP62 {
    background-image: url("./assets/2201-4-89-53BXP-62.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8953BXP63 {
    background-image: url("./assets/2201-4-89-53BXP-63.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8953BXP64 {
    background-image: url("./assets/2201-4-89-53BXP-64.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8938AXP69 {
    background-image: url("./assets/2201-4-89-38AXP-69.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8938AXP70 {
    background-image: url("./assets/2201-4-89-38AXP-70.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8938AXP72 {
    background-image: url("./assets/2201-4-89-38AXP-72.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8927XP73 {
    background-image: url("./assets/2201-4-89-27XP-73.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8927XP74 {
    background-image: url("./assets/2201-4-89-27XP-74.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8927XP75 {
    background-image: url("./assets/2201-4-89-27XP-75.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8919XP76 {
    background-image: url("./assets/2201-4-89-19XP-76.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8919XP77 {
    background-image: url("./assets/2201-4-89-19XP-77.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8919XP78 {
    background-image: url("./assets/2201-4-89-19XP-78.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8919XP79 {
    background-image: url("./assets/2201-4-89-19XP-79.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8894XP80 {
    background-image: url("./assets/2201-4-88-94XP-80.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8894XP81 {
    background-image: url("./assets/2201-4-88-94XP-81.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8894XP82 {
    background-image: url("./assets/2201-4-88-94XP-82.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image8894XP83 {
    background-image: url("./assets/2201-4-88-94XP-83.jpg");
    width: 500px;
    height: 367px;
    background-size: contain;
    background-repeat: no-repeat;
}